body {
  background-color: #F3EDDF;
}

.main-text {
  text-align: center;
}

.two-button-wrapper {
  margin-top: 50px;
}

.file-upload {
  height: 200px;
  border: 2px dashed #454545;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.file-upload input[type="file"] {
  display: none;
}

.prediction {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}